@use '../abstracts/variables' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html,
    body {
    height: 100%;
    }
    
    body {
    font-family: $font-base;
    color: #333;
    background-color: $bg-body;
    display: flex;
    flex-direction: column;
    }
    
    main {
    flex: 1;
    width: 90%;
    margin: 0 auto;
    }