// _variables.scss

@use './maps'as*;

// Asignamos las variables utilizando los mapas definidos en _maps.scss
$primary-color: #004aad;
$secondary-color: #ffcc00;
$bg-top-bar: #000;
$color-top-bar: #fff;
$bg-body: #f5f5f5;
$font-base: 'Arial, sans-serif';
$font-alt: 'Montserrat', sans-serif;
$h2Highlight: #007BFF;
